<div id="<%= dom_id turma %>">
  <p>
    <strong>Professor:</strong>
    <%= turma.professor_id %>
  </p>

  <p>
    <strong>Disciplina:</strong>
    <%= turma.disciplina_id %>
  </p>

  <p>
    <strong>Formulario:</strong>
    <%= turma.formulario_id %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= turma.semestre %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= turma.horario %>
  </p>

</div>
