<div id="<%= dom_id student %>">
  <p>
    <strong>Registered:</strong>
    <%= student.registered %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= student.senha %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= student.nome %>
  </p>

  <p>
    <strong>Curso:</strong>
    <%= student.curso %>
  </p>

  <p>
    <strong>Matricula:</strong>
    <%= student.matricula %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= student.departamento %>
  </p>

  <p>
    <strong>Formacao:</strong>
    <%= student.formacao %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= student.usuario %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Ocupacao:</strong>
    <%= student.ocupacao %>
  </p>

</div>
