<div id="<%= dom_id perguntum %>">
  <p>
    <strong>Template:</strong>
    <%= perguntum.template_id %>
  </p>

  <p>
    <strong>Formulario:</strong>
    <%= perguntum.formulario_id %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= perguntum.texto %>
  </p>

  <p>
    <strong>Resposta:</strong>
    <%= perguntum.resposta %>
  </p>

</div>
