<div id="<%= dom_id administrador %>">
  <p>
    <strong>Nome:</strong>
    <%= administrador.nome %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= administrador.departamento %>
  </p>

  <p>
    <strong>Formacao:</strong>
    <%= administrador.formacao %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= administrador.usuario %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrador.email %>
  </p>

  <p>
    <strong>Ocupacao:</strong>
    <%= administrador.ocupacao %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= administrador.password_digest %>
  </p>

</div>
