<div id="<%= dom_id classess %>">
  <p>
    <strong>Professor id:</strong>
    <%= classess.professor_ID %>
  </p>

  <p>
    <strong>Disciplina id:</strong>
    <%= classess.disciplina_ID %>
  </p>

  <p>
    <strong>Form id:</strong>
    <%= classess.form_ID %>
  </p>

  <p>
    <strong>Semestre:</strong>
    <%= classess.semestre %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= classess.time %>
  </p>

</div>
