<%= form_with(model: classess) do |form| %>
  <% if classess.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(classess.errors.count, "error") %> prohibited this classess from being saved:</h2>

      <ul>
        <% classess.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :professor_ID, style: "display: block" %>
    <%= form.number_field :professor_ID %>
  </div>

  <div>
    <%= form.label :disciplina_ID, style: "display: block" %>
    <%= form.number_field :disciplina_ID %>
  </div>

  <div>
    <%= form.label :form_ID, style: "display: block" %>
    <%= form.number_field :form_ID %>
  </div>

  <div>
    <%= form.label :semestre, style: "display: block" %>
    <%= form.text_field :semestre %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.text_field :time %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
