<p style="color: green"><%= notice %></p>

<%= render @classess %>

<div>
  <%= link_to "Edit this classess", edit_classess_path(@classess) %> |
  <%= link_to "Back to classesses", classesses_path %>

  <%= button_to "Destroy this classess", @classess, method: :delete %>
</div>
