<div id="<%= dom_id admin %>">
  <p>
    <strong>Senha:</strong>
    <%= admin.senha %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= admin.nome %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= admin.departamento %>
  </p>

  <p>
    <strong>Formacao:</strong>
    <%= admin.formacao %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= admin.usuario %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Ocupacao:</strong>
    <%= admin.ocupacao %>
  </p>

</div>
