<div id="<%= dom_id professor %>">
  <p>
    <strong>Nome:</strong>
    <%= professor.nome %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= professor.departamento %>
  </p>

  <p>
    <strong>Formacao:</strong>
    <%= professor.formacao %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= professor.usuario %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professor.email %>
  </p>

  <p>
    <strong>Ocupacao:</strong>
    <%= professor.ocupacao %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= professor.password_digest %>
  </p>

</div>
