<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :form_ID, style: "display: block" %>
    <%= form.number_field :form_ID %>
  </div>

  <div>
    <%= form.label :template_ID, style: "display: block" %>
    <%= form.number_field :template_ID %>
  </div>

  <div>
    <%= form.label :texto, style: "display: block" %>
    <%= form.text_field :texto %>
  </div>

  <div>
    <%= form.label :resposta, style: "display: block" %>
    <%= form.text_field :resposta %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
