<div id="<%= dom_id question %>">
  <p>
    <strong>Form id:</strong>
    <%= question.form_ID %>
  </p>

  <p>
    <strong>Template id:</strong>
    <%= question.template_ID %>
  </p>

  <p>
    <strong>Texto:</strong>
    <%= question.texto %>
  </p>

  <p>
    <strong>Resposta:</strong>
    <%= question.resposta %>
  </p>

</div>
